<html>
  <head>
    <title>
      {{#if pageTitle}}
        {{pageTitle}}
      {{else}}
        Title
      {{/if}}</title>
  </head>
  <body>
    <h1>custom layout</h1>
    {{{body}}}
  </body>
</html>